<div>
	<strong>Todo List</strong>
	<div><small>click task to edit</small></div>
</div>
<div id="list"></div>
<div id="remaining"></div>
<div id="new-item" style="display: none;">
	<input id="new-item-label" class="label-edit" type="text" /> <input class="save" type="button" value="Save" /> <input class="cancel" type="button" value="Cancel" />  
</div>
<span id="add-item">Add To-Do</span>
<br/>
<hr/>
<div>
	Todo example using <a href="https://github.com/david0178418/BackboneJS-AMD-Boilerplate" target="_blank">Backbone/RequireJS boilerplate</a>. Specifically, uses <a href="https://github.com/david0178418/BackboneJS-AMD-Boilerplate/tree/boiler-plate-with-php" target="_blank">branch with php/Slim integrated</a>.
</div>
<div style="margin-top: 100px;">
	<small><em>Note: Data is being served by server, but not being saved.  For an example that does not use RequireJS, but does show a simple example of localstorage persistance, <a href="http://documentcloud.github.com/backbone/examples/todos/index.html" target="_bla    nk">see here</a>.</em></small>
</div>
